body{
    background-color: blueviolet;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
h1{
    font-size: 64px;
}
button{
    margin: 20px;
    font-size: large;
    padding: 10px;
    background-color:blueviolet;
    border-style: groove;
    color: white;
}
.title {
    font-size: 24px;
    font-weight: 900
}
.main-container{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:cornsilk;
    padding: 20px;
    color: blueviolet;
}
